h1 {
    font-family: 'Snell Roundhand', Times, serif;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-weight: normal;
    padding-top: 10px;
}


.box-1 {
    border-left: 0.5px solid black;
    width: 25%;
}

.box-2 {

    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    width: 50%;
}

.box-3 {
    border-right: 0.5px solid black;
    width: 25%;
}

.box-4 {
    border-left: 0.5px solid black;
    width: 25%; 
}

.box-5 {
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    width: 75%;
}

.flex-container {
    display: flex;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h2 {
    color: black;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    
}

p {
    color: black;
    font-weight : normal;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.other-sections {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0;
}

.site-section {
    display: flex;
    flex: 1;
    border-right: 0.5px solid black;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.site-section-politics {
    background-color: #ffeaa7;
}

.site-section-tech {
    background-color: #81ecec;
}

.site-section-local {
    background-color: #55efc4;
}

.site-section-opinion {
    background-color: #74b9ff;
}

.site-section-sports {
    background-color: #a29bfe;
}

.section-link {
    font-size: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-family: "Futura";
    color: #666;
}

a:hover { 
    text-decoration: underline;
  }